apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-declarative
data:
  kong.yml: |
    _format_version: "3.0"

    services:
      - name: auth
        url: http://auth-srv:80
        routes:
          - name: auth-users
            paths:
              - /api/v1/users
            strip_path: false
      - name: tickets
        url: http://tickets-srv:80
        routes:
          - name: tickets
            paths:
              - /api/v1/tickets
            strip_path: false